@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=block");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}
button {
  background-color: transparent;
}
button:focus {
  outline: none;
}
img {
  vertical-align: top;
  max-width: 100%;
}
a {
  text-decoration: none;
}
html, body {
  height: 100vh;
}
body, body * {
  font-family: 'Open Sans', sans-serif;
}
[v-cloak] {
  display: none !important;
}
//utility
.d-flex {
  display: flex !important;
}
.d-block {
  display: block !important;
}
.d-none {
  display: none !important;
}
