body {
  overflow: hidden;
  color: white;
  font-family: 'Inter';
}
.snowflake {
  position: absolute;
  z-index: 99;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  filter: drop-shadow(0 0 5px #fff);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
