@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@import "reset";
@import "snow";

#setting-icon {
  position: absolute;
  z-index: 1;
  right: 20px;
  bottom: 20px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  cursor: pointer;
  svg {
    fill: transparent;
    filter: drop-shadow(0 0 5px #fff);
    transform: scale(0.6);
    transition: all .3s;
  }
  &:hover svg {
    fill: rgba(255, 255, 255, .5);
    transform: scale(1);
  }
}
#setting-switch {
  display: none;
  &:checked + #setting-board {
    display: flex;
  }
}
#setting-board {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  color: #55c;
  background-color: rgba(255,255,255,.6);
  border-radius: 10px;
  box-shadow: 0 0 8px 2px rgba(255,255,255,.6);
  * {
    color: #55c;
    font-size: 28px;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
    line {
      stroke: #fff;
      stroke-width: 13;
      stroke-linecap: round;
    }
  }
  .other, .candidate {
    padding: 50px;
  }
  .other {
    width: 40%;
    label {
      margin-left: 5px;
    }
  }
  .candidate {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    width: 60%;
    .content {
      display: flex;
      flex-grow: 1;
      overflow: auto;
      &::-webkit-scrollbar {
        appearance: none;
        width: 16px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(85, 85, 204, .2);
        background-clip: padding-box;
        border: 2px solid transparent;
        border-radius: 8px;
        &:hover {
          background-color: rgba(85, 85, 204, .6);
          opacity: .7;
        }
      }
    }
    label.upload {
      position: relative;
      display: flex;
      margin: auto;
      width: 100%;
      height: 100%;
      user-select: none;
      .icon-group {
        margin: auto;
      }
      .icon {
        font-size: 200px;
        margin-bottom: 10px;
      }
      .text {
        text-align: center;
        font-size: 32px;
      }
      svg, .icon-group{
        opacity: .15;
        transition: all .2s;
      }
      &:hover {
        svg {
          opacity: .3;
        }
        .icon-group {
          opacity: .6;
          transform: scale(1.1);
        }
      }
    }
    svg.border {
      position: absolute;
      width: 100%;
      height: 100%;
      rect {
        fill: none;
        stroke: #55c;
        stroke-width: 5;
        stroke-dashoffset: 0;
        stroke-dasharray: 30 10;
      }
    }
    .person {
      padding: 5px 0 5px;
      &.winner {
        color: #ff0;
      }
    }
  }
  //common
  .title {
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
    color: #55c;
    border-bottom: 3px solid #55c;
  }
  .button {
    cursor: pointer;
  }
  label.button input {
    display: none;
  }
  label.switch {
    position: relative;
    display: inline-flex;
    align-items: center;
    user-select: none;
    input[type="checkbox"]:checked ~ .on {
      opacity: 1;
    }
    i {
      margin-right: 10px;
    }
    .on {
      position: absolute;
      left: 0;
      opacity: 0;
    }
    .off {
      display: block;
    }
  }
  button.button {
    display: block;
    padding: 8px 15px;
    border-radius: 10px;
    border: 2px solid #55c;
    &:hover {
      filter: brightness(1.15);
    }
  }
}
svg#house {
  position: absolute;
  bottom: 0;
  filter: drop-shadow(0 0 10px #fff);
  .shell {
    fill: rgba(255, 255, 255, .15);
  }
  .upload {
    .hover-area {
      fill: transparent;
      &:hover {
        cursor: pointer;
      }
    }
    .hover-area:hover ~ .icon, .icon:hover {
      cursor: pointer;
      opacity: 1;
      transform: translateY(-20px);
    }
    .icon {
      fill: url(#uploadGradient);
      opacity: 0;
      transition: all .3s;
    }
  }
  .slider {
    .thumb {
      cursor: pointer;
      fill: rgba(255, 255, 255, .3);
      &:hover {
        fill: rgba(255, 255, 255, .4);
      }
    }
  }
}